Source: kaisen-tools
Priority: optional
Section: kaisen-metapackages
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>
Standards-Version: 4.6.1
Build-Depends: debhelper
Homepage: https://kaisenlinux.org
Vcs-Git: https://gitlab.com/kaisenlinux/packages/kaisen-tools.git
Vcs-Browser: https://gitlab.com/kaisenlinux/packages/kaisen-tools

#Filesystems metapackage
Package: kaisen-filesystems
Architecture: all
Recommends: cryptsetup,
		dmraid,
                dmsetup,
		mdadm,
                lvm2,
	    	dosfstools,
	    	f2fs-tools,
	    	nilfs-tools,
	    	ocfs2-tools,
	    	btrfs-compsize,
	    	btrfs-heatmap,
	    	btrfs-progs,
	    	btrfsmaintenance,
	    	gfs2-utils,
	    	hfsplus,
	    	hfsprogs,
	    	hfsutils,
	    	hfsutils-tcltk,
	    	jfsutils,
	    	reiserfsprogs,
	    	vmfs-tools,
	    	xfsdump,
	    	xfsprogs,
	    	zfs-fuse,
	    	zfsnap,
		exfatprogs,
	    	exfat-fuse,
	    	ceph-fuse,
	    	fuse3,
	    	glusterfs-client,
	    	udfclient,
	    	udftools,
	    	reiser4progs,
	    	vmfs6-tools,
		xmount,
		archivemount,
	    	tmfs,
	    	cifs-utils,
	    	apfs-fuse,
	    	apfsutil,
	    	ecryptfs-utils,
	    	libbde-utils,
	    	dislocker,
	    	libfvde-utils,
	    	libvhdi-utils,
        	libvmdk-utils,
	    	libfsntfs-utils,
		gvfs-fuse,
		gvfs,
	        ntfs-3g,
	        wimtools,
Description: Adding a lot filesystems tools for improving systems support on Kaisen Linux

#Firmwares metapackage
Package: kaisen-firmwares
Architecture: all
Recommends: firmware-amd-graphics,
	    firmware-ast,
	    firmware-ath9k-htc,
	    firmware-atheros,
	    firmware-b43-installer,
            firmware-bnx2,
	    firmware-bnx2x,
	    firmware-brcm80211,
	    firmware-cavium,
	    firmware-intel-sound,
	    firmware-intelwimax,
	    firmware-ipw2x00,
            firmware-ivtv,
	    firmware-iwlwifi,
	    firmware-libertas,
	    firmware-linux,
	    firmware-linux-free,
	    firmware-linux-nonfree,
	    firmware-microbit-micropython,
	    firmware-misc-nonfree,
	    firmware-myricom,
	    firmware-netronome,
	    firmware-netxen,
	    firmware-qcom-media,
	    firmware-qcom-soc,
            firmware-qlogic,
            firmware-realtek,
            firmware-samsung,
            firmware-siano,
	    firmware-sof-signed,
            firmware-ti-connectivity,
	    firmware-tomu,
            firmware-zd1211,
            bluetooth,
            blueman,
            bluez-tools,
            bluez-firmware,
	    alsa-firmware-loaders,
	    atmel-firmware,
Description: GPU/Sound/Wi-Fi/Bluetooth firmwares (improve hardware compatibility)

#Miscellaneous tools metapackage
Package: kaisen-miscellaneous
Architecture: all
Recommends: progress,
	    pv,
	    less,
	    plocate,
	    dirmngr,
	    gpa,
	    gpg,
	    gnupg2,
	    curl,
	    wget,
	    git,
	    gpg-agent,
	    neofetch,
	    git-repair,
	    img2pdf,
	    mc,
	    strace,
	    yamllint,
	    ltrace,
	    tree,
	    vim,
	    codium,
            cups,
            hexedit,
            file,
            psmisc,
	    htop,
            lsof,
	    lzop,
            p7zip-full,
            pigz,
            unp,
            unar,
            unrar-free,
            unzip,
            zip,
            bzip2,
            tar,
            unrar,
            zstd,
	    gtkhash,
	    keepassxc,
	    apg,
	    pwgen,
	    isomaster,
	    fred,
	    cabextract,
	    btop,
Description: Meta package for miscellaneous useful software (lsof, htop, git, gpg-agent, codium, vim, tree, less...)

#Devops et cloud tools
Package: kaisen-sysops-tools
Architecture: all
Recommends: docker-compose,
            docker.io,
                ansible,
                lxc,
                lxctl,
                kubernetes-client,
            vagrant,
            vagrant-lxc,
            vagrant-sshfs,
            jmeter,
            awscli,
                azure-cli,
            packer,
                puppet-agent,
		pdk,
                terraform,
                s3fs,
                k6,
                k9s,
                helm,
                podman,
                buildah,
		minikube,
		eksctl,
		trivy,
		kustomize,
		kind,
		krew,
		kubectx,
		kyverno,
		popeye,
		tfsec,
		vault,
		velero,
		terragrunt,
		python3-openstackclient,
Description: All DevOps and Cloud tools for Kaisen Linux

#BTRFS snapshots section
Package: kaisen-btrfs-snapshots
Architecture: all
Recommends: apt-btrfs-snapshot,
                timeshift,
                btrbk,
            snapper,
Description: All tools to take snapshots with BTRFS

#Network tools section
Package: kaisen-network-tools
Architecture: all
Recommends: kaisen-network-uncategorized,
	    	kaisen-ethernet-tools,
	    	kaisen-gns3,
	    	kaisen-layer4-tools,
	    	kaisen-layer3-tools,
	    	kaisen-layer2-tools,
	    	kaisen-network-monitoring,
	    	kaisen-pcap-tools,
	    	kaisen-portconsole-tools,
	    	kaisen-network-scanners,
	    	kaisen-vpn-tools,
	    	kaisen-wifi-tools,
Description: All network tools (DHCP, DNS analysis, monitoring, TCP analysis...) for Kaisen Linux

Package: kaisen-network-uncategorized
Architecture: all
Recommends: 2ping,
	    	atftp,
	    	cdpr,
	    	comgt,
	    	socat,
        	ssmping,
	    	wakeonlan,
	    	wondershaper,
		ifenslave,
	        bridge-utils,
Description: All uncategorized network tools for Kaisen Linux

Package: kaisen-ethernet-tools
Architecture: all
Recommends: ethstatus,
	    	ethtool,
	    	packeth,
Description: All Ethernet tools for Kaisen Linux

Package: kaisen-gns3
Architecture: all
Recommends: dynamips,
	    	gns3-gui,
	    	gns3-server,
	    	ubridge,
	    	vpcs,
Description: GNS3 packaging for Kaisen Linux

Package: kaisen-layer4-tools
Architecture: all
Recommends: netcat,
	    	netcat-openbsd,
	    	tcpreplay,
	    	tcpflow,
	    	tcptrace,
	    	tcptraceroute,
	    	packetsender,
	    	udpcast,
	    	dsniff,
Description: All layer 4 OSI tools for Kaisen Linux

Package: kaisen-layer3-tools
Architecture: all
Recommends: net-tools,
	    	ipcalc,
	    	sipcalc,
	    	iproute2,
	    	iptraf-ng,
	    	iptraf,
	    	ipv6calc,
	    	traceroute,
	    	iputils-tracepath,
		ndisc6,
Description: All layer 3 OSI tools for Kaisen Linux

Package: kaisen-layer2-tools
Architecture: all
Recommends: arp-scan,
	    	arpalert,
	    	iputils-arping,
	    	arptables,
	    	arpwatch,
	    	macchanger,
Description: All layer 2 OSI tools for Kaisen Linux

Package: kaisen-network-monitoring
Architecture: all
Recommends: cbm,
	    	etherape,
	    	ifstat,
	    	iftop,
	    	iperf,
	    	iperf3,
	    	nethogs,
	    	netperfmeter,
	    	sockstat,
	    	tcpstat,
		dstat,
Description: All network monitoring tools for Kaisen Linux

Package: kaisen-pcap-tools
Architecture: all
Recommends: darkstat,
	    	hunt,
	    	netsed,
	    	ngrep,
	    	pcapfix,
	    	scapy,
	    	python3-scapy,
	    	tcpdump,
	    	tcpreplay,
	    	tcpxtract,
	    	tshark,
	    	wireshark,
		notwireshark,
Description: All PCAP tools for Kaisen Linux

Package: kaisen-portconsole-tools
Architecture: all
Recommends: cu,
	    	minicom,
	    	picocom,
	    	screen,
	    	setserial,
	    	statserial,
		gtkterm,
Description: All port console tools for Kaisen Linux

Package: kaisen-network-scanners
Architecture: all
Recommends: arp-scan,
	    	bettercap,
	    	bettercap-caplets,
        	bettercap-ui,
	    	driftnet,
	    	dsniff,
	    	ettercap-graphical,
	    	hping3,
	    	lft,
	    	masscan,
	    	mitmproxy,
	    	mtr-tiny,
	    	nast,
	    	ndiff,
	    	netdiscover,
	    	netsniff-ng,
	    	net-tools,
	    	ncat,
	    	nmap,
	    	nmapsi4,
	    	scapy,
	    	python3-scapy,
	    	telnet,
	    	iputils-tracepath,
	    	traceroute,
Description: All network scanners for Kaisen Linux

Package: kaisen-vpn-tools
Architecture: all
Recommends: openvpn,
	    wireguard,
	    openfortivpn,
	    network-manager-openvpn,
            network-manager-fortisslvpn,
	    network-manager-openconnect,
	    network-manager-openvpn-gnome,
	    network-manager-fortisslvpn-gnome,
	    network-manager-openconnect-gnome,
Description: All VPN tools for Kaisen Linux

Package: kaisen-wifi-tools
Architecture: all
Recommends: aircrack-ng,
	    	hostapd,
	    	iw,
	    	rfkill,
		linssid,
Description: All Wi-Fi tools for Kaisen Linux

#Sysadmin tools section
Package: kaisen-sysadmin-tools
Architecture: all
Recommends: kaisen-sysadmin-uncategorized,
	    	kaisen-remote-administration,
	    	kaisen-backup-tools,
	    	kaisen-ftp-clients,
	    	kaisen-microsoft-tools,
	    	kaisen-virtualization-tools,
		kaisen-dhcp-tools,
                kaisen-dns-tools,
		kaisen-tls-tools,
		kaisen-firewalling,
		kaisen-apparmor,
		kaisen-databases-tools,
Description: Collection of sysadmin tools for Kaisen Linux

Package: kaisen-sysadmin-uncategorized
Architecture: all
Recommends: xca,
	    	krb5-config,
	    	krb5-pkinit,
	    	krb5-user,
	    	krb5-locales,
	    	ctop,
	    	apache2-utils,
		ntpsec,
		ntpsec-ntpdate,
		python3-ldapdomaindump,
Description: All uncategorized sysadmin tools for Kaisen Linux

Package: kaisen-remote-administration
Architecture: all
Recommends: virt-viewer,
	    	rdesktop,
            grdesktop,
	    	freerdp2-x11,
	    	ssh,
		sshfs,
	    	pssh,
	    	clusterssh,
	    	tmux,
	    	zssh,
	    	remmina,
            remmina-plugin-exec,
            remmina-plugin-kwallet,
            remmina-plugin-spice,
            remmina-plugin-www,
	    smbclient,
		ssh-askpass,
                sshpass,
		sshs,
Description: All remote administration tools for Kaisen Linux

Package: kaisen-backup-tools
Architecture: all
Recommends: dirvish,
            automysqlbackup,
            autopostgresqlbackup,
            bacula-bscan,
            bacula-client,
            bacula-common,
            bacula-common-sqlite3,
            bacula-console,
            bacula-console-qt,
            bacula-fd,
            bacula-sd,
            dump,
            duplicity,
            restic,
            rsbackup,
	    	rsync,
	    	backup2l,
            zsync,
            vbackup,
            duply,
	    	grsync,
		zbackup,
	    rdiff,
	    rdiff-backup,
	    rdiff-backup-fs,
	    borgbackup,
	    rclone,
Description: All backup tools for Kaisen Linux

Package: kaisen-ftp-clients
Architecture: all
Recommends: filezilla,
            gftp,
            lftp,
Description: All FTP clients for Kaisen Linux

Package: kaisen-microsoft-tools
Architecture: all
Recommends: bloodhound,
	    powershell,
Description: All tools for Microsoft technologies for Kaisen Linux

Package: kaisen-virtualization-tools
Architecture: all
Recommends: virtualbox,
            virtualbox-qt,
	    	virtualbox-dkms,
	    	virtualbox-source,
	    	virtualbox-guest-additions-iso,
		virtualbox-ext-pack,
	    	virt-manager,
            qemu-system,
            qemu-system-x86,
            qemu-system-gui,
            qemu-efi,
            qemu-utils,
            libvirt-clients,
            libvirt-daemon-system,
            virtinst,
	    	virt-viewer,
Description: All hypervisors tools for Kaisen Linux

Package: kaisen-tls-tools
Architecture: all
Recommends: ssldump,
                sslscan,
                sslsniff,
                sslsplit,
                sslyze,
Description: All SSL/TLS tools for Kaisen Linux

Package: kaisen-dhcp-tools
Architecture: all
Recommends: isc-dhcp-client,
                isc-dhcp-common,
                dhcpdump,
                dhcping,
Description: All DHCP tools for Kaisen Linux

Package: kaisen-dns-tools
Architecture: all
Recommends: dnsenum,
	    dnstop,
	    mdns-scan,
	    whois,
	    bind9-dnsutils,
Description: All DNS tools for Kaisen Linux

Package: kaisen-firewalling
Architecture: all
Recommends: iptstate,
            iptables-persistent,
Description: All firewalling tools for Kaisen Linux

Package: kaisen-apparmor
Architecture: all
Recommends: apparmor,
	    apparmor-profiles,
            apparmor-profiles-extra,
	    apparmor-notify,
	    apparmor-utils,
Description: Apparmor profiles for Kaisen Linux

Package: kaisen-databases-tools
Architecture: all
Recommends: mariadb-client,
            etcd-client,
            postgresql-client,
Description: Databases clients tools for Kaisen Linux

#Technicians tools section
Package: kaisen-technicians-tools
Architecture: all
Recommends: kaisen-cloning,
	    	kaisen-data-protection,
	    	kaisen-data-recovery,
	    	kaisen-disks-analysis,
	    	kaisen-hardware,
	    	kaisen-partitioning-erase,
	    	kaisen-password-tools,
	    	kaisen-pst-tools,
	    	kaisen-temperature-analysis,
	    	kaisen-usb-boot,
	    	kaisen-virus-analysis,
		kaisen-duplicates-files,
Description: All techicians tools (Data recovery, disks analysis, password tools...) for Kaisen Linux

Package: kaisen-cloning
Architecture: all
Recommends: clonezilla,
            dcfldd,
	    dc3dd,
            fsarchiver,
	    qt-fsarchiver,
            guymager,
            partclone,
            partimage,
Description: All Kaisen Linux cloning tools

Package: kaisen-data-protection
Architecture: all
Recommends: fscrypt,
            lockfile-progs,
            zulucrypt-cli,
            zulucrypt-gui,
	    zulumount-cli,
            zulumount-gui,
	    veracrypt,
Description: All Kaisen Linux data protection tools

Package: kaisen-data-recovery
Architecture: all
Recommends: ddrescue-gui,
            ddrescueview,
            ddrutility,
            ext4magic,
            extundelete,
            foremost,
	    	ddrescue,
            gddrescue,
            testdisk,
            magicrescue,
            myrescue,
            recoverdm,
            recoverjpeg,
            safecopy,
            scalpel,
            scrounge-ntfs,
	    	hfsprescue,
Description: All Kaisen Linux data recovery tools

Package: kaisen-disks-analysis
Architecture: all
Recommends: e2fsprogs,
            baobab,
            bonnie++,
            diskscan,
            disktype,
            gpart,
            gsmartcontrol,
            hdparm,
            ioping,
            testdisk,
            ncdu,
            smartmontools,
            di,
	    util-linux,
	    util-linux-locales,
	    iotop,
	    iozone3,
	    nvme-cli,
	    wxfixboot,
	    whdd,
	    dstat,
Suggests: kaisen-temperature-analysis
Description: All Kaisen Linux disks analysis tools

Package: kaisen-hardware
Architecture: all
Recommends: kaisen-winkey-recovery,
	    cpulimit,
            discover,
            discover-data,
            dmidecode,
            fio,
            hardinfo,
            hwinfo,
            lshw,
            stress,
            stress-ng,
            stressant,
            lshw-gtk,
            flashbench,
            hw-probe,
            memtester,
            gfio,
            flashrom,
	    inxi,
	    cpu-x,
	    sysstat,
	    hwdata,
	    gtkstresstesting,
	    stressapptest,
	    dstat,
Suggests: kaisen-temperature-analysis
Description: All Kaisen Linux hardware tools

Package: kaisen-partitioning-erase
Architecture: all
Recommends: dcfldd,
	    dc3dd,
            fatresize,
            fdisk,
            gdisk,
            gparted,
            nwipe,
            parted,
            secure-delete,
            wipe,
            zerofree,
            bleachbit,
            scrub,
	    wipefreespace,
	    util-linux,
	    util-linux-locales,
Description: All Kaisen Linux partitioning/erasing tools

Package: kaisen-password-tools
Architecture: all
Recommends: bruteforce-luks,
            chntpw,
            cmospwd,
            crack,
            fcrackzip,
            hashcat,
            hydra,
            john,
            ophcrack,
            ophcrack-cli,
            pdfcrack,
            rarcrack,
            rephrase,
            samdump2,
            hydra-gtk,
            crunch,
Description: All Kaisen Linux password tools

Package: kaisen-pst-tools
Architecture: all
Recommends: pff-tools,
            pst-utils,
Description: All Kaisen Linux PST tools

Package: kaisen-usb-boot
Architecture: all
Recommends: balena-etcher-electron,
            dcfldd,
	    dc3dd,
Suggests: woeusb
Description: All Kaisen Linux usb boot tools

Package: kaisen-virus-analysis
Architecture: all
Recommends: chkrootkit,
            clamdscan,
            clamtk,
            rkhunter,
            clamassassin,
            clamav-base,
            clamav-daemon,
            clamav-docs,
            clamav-freshclam,
            clamav-milter,
            clamav-testfiles,
            clamfs,
Description: All Kaisen Linux virus analysis tools

Package: kaisen-temperature-analysis
Architecture: all
Recommends: hddtemp,
	    	xsensors,
	    	lm-sensors,
	    	psensor,
	    	psensor-common,
Description: All Kaisen Linux temperature/voltage analysis tools

Package: kaisen-duplicates-files
Architecture: all
Recommends: czkawka,
            dupeguru,
            fdupes,
	    rdfind,
Description: All Kaisen Linux tools for duplicate file analysis

Package: kaisen-services-management
Architecture: all
Priority: standard
Depends: systemd,
	 	 sudo,
Description: Management additionnals services (launchers in services menu)

Package: kaisen-update
Architecture: all
Priority: optional
Depends: apt
Description: Automatic Kaisen Linux update
